@model IEnumerable<WebUI.Models.SearchCriteria>

@{
    ViewBag.Title = "Index";
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Søgekriterier</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>


    <div class="box-body">
        <table class="table table-bordered table-stibed dataTable">
            <thead>
                <tr role="row">
                    <th>
                        Søgestreng
                        @*@Html.DisplayNameFor(model => model.Sender)*@
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sc in Model)
            {
                    <tr>
                        <td class="clickable-row" data-href="@Url.Action("Details", "SearchCriteria", new { id = sc.ID })">
                            @Html.DisplayFor(modelItem => sc.Criteria)
                        </td>
                        <td align="right">
                            <a href="@Url.Action("Details", "SearchCriteria",  new { id = sc.ID })" class="btn btn-info ">Detaljer</a>
                            <a href="@Url.Action("Delete", "SearchCriteria", new { id = sc.ID })" class="btn btn-adn ">Slet</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <a href="@Url.Action("Create", "SearchCriteria")" class="btn btn-info pull-right">Tilføj</a>
    </div>
</div>
