@model WebUI.Models.EmailAccount

@{
    ViewBag.Title = "Create";
}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Opret konto</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="register-box-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group has-feedback">
                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @type = "email" } })
                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">

                <div class="col-xs-3" style="float:right">  
                    <div>
                        <input type="submit" value="Tilføj" class="btn btn-info pull-right" style="width:100px" />
                    </div>
                </div>
                <div class="col-xs-3" style="float:left">
                    <a href="@Url.Action("Index", "EmailAccount")" class="btn btn-adn pull-left">Fortryd</a>
                </div>
            </div>
        </div>


    }


</div>
